body {
  background-color: #e3d7bf !important;
}

h1, .card-title {
  color: #7e634e !important;
  font-weight: 700 !important;
}

.btn-custom {
  background-color: #ab9680 !important;
  color: white !important;
  border: none !important;
}

.btn-custom:hover {
  background-color: #9b8672 !important;
}
